<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wave.mapper.SongMapper">
    <resultMap id="songs" type="com.wave.po.Song">
        <id column="song_id" property="songID"/>
        <result column="song_data" property="songData"/>
        <result column="song_type" property="songType"/>
        <result column="song_name" property="songName"/>
        <result column="song_singer" property="songSinger"/>
        <result column="song_album" property="songAlbum"/>
        <result column="song_icon" property="songIcon"/>
        <result column="song_size" property="songSize"/>
    </resultMap>
    <select id="selectSongsByIds" parameterType="Integer" resultMap="songs">
        select * from songs where 1=1 and song_id in
        <foreach collection="array" open="(" close=")" separator="," item="value">
            #{value}
        </foreach>
    </select>
    <select id="selectAllSongs" resultMap="songs">
        select * from songs
    </select>
    <select id="selectSongsByWord" parameterType="String" resultMap="songs">
        select * from songs where song_name like concat('%',#{word},'%') or song_singer like concat('%',#{word},'%') or song_album like concat('%',#{word},'%')
    </select>
    <insert id="addSong" parameterType="com.wave.po.Song">
        insert into songs(song_data, song_type, song_name, song_singer, song_album, song_icon, song_size) values (#{songData},#{songType},#{songName},#{songSinger},#{songAlbum},#{songIcon},#{songSize})
    </insert>
    <delete id="deleteSongById" parameterType="Integer">
        delete from songs where song_id=#{id}
    </delete>
    <select id="selectSongByAddress" parameterType="String" resultMap="songs">
        select * from songs where song_data=#{data}
    </select>
</mapper>