<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wave.mapper.SongListMapper">
    <resultMap id="songlistmap" type="com.wave.po.SongList">
        <id column="id" property="listID"/>
        <result column="list_name" property="listName"/>
        <result column="song_id" property="songID"/>
        <result column="type_id" property="listType"/>
        <result column="user_id" property="userID"/>
    </resultMap>
    <select id="selectDefaultSongListById" parameterType="Integer" resultMap="songlistmap">
        select * from songlist where user_id=#{id} and list_name='default';
    </select>
    <select id="selectSongListByIdAndName" parameterType="map" resultMap="songlistmap">
        select * from songlist where user_id=#{uid} and list_name=#{listname};
    </select>
    <select id="selectAllSongListById" parameterType="Integer" resultMap="songlistmap">
        select * from songlist where user_id=#{id}
    </select>
    <delete id="deleteSongListById" parameterType="Integer">
        delete from songlist where id=#{id}
    </delete>
    <update id="updateSongList" parameterType="com.wave.po.SongList">
        update songlist set list_name=#{listName},song_id=#{songID},type_id=#{listType} where id=#{listID}
    </update>
    <insert id="addSongList" parameterType="com.wave.po.SongList">
        insert into songlist(list_name, song_id, type_id, user_id) values (#{listName},#{songID},#{listType},#{userID})
    </insert>
</mapper>