<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wave.mapper.UserMapper">
    <resultMap id="user" type="com.wave.po.User">
    <id column="user_id" property="userID"/>
    <result column="user_name" property="userName"/>
    <result column="user_password" property="userPassword"/>
    <result column="user_sex" property="userSex"/>
    <result column="user_age" property="userAge"/>
    <result column="user_icon" property="userIcon"/>
    <result column="user_email" property="userEmail"/>
    <result column="user_date" property="userDate"/>
    <result column="user_describe" property="userDescribe"/>
    <result column="user_address" property="userAddress"/>
    <result column="user_level" property="userLevel"/>
    <result column="user_listenRecord" property="userListenRecord"/>
    </resultMap>
    <select id="selectAllUsers" resultMap="user">
        select * from users
    </select>
</mapper>